html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 3rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.map {
  height: 750px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.controls {
  display: flex;
}

.info-box {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color: black;
  min-width: 300px;
  z-index: 999;
  padding: 1.5rem;
}

.mapboxgl-map {
  height: 100%;
}

.city-marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transition: ease 0.3s;
  position: relative;
  z-index: 4;
}

.city-marker:hover {
  width: 20px;
  height: 20px;
  transition: ease 0.3s;
  cursor: pointer;
}

.city-marker-name {
  position: absolute;
  left: 2em;
  font-size: 14px;
  display: none;
  z-index: 999;
}
.city-marker:hover .city-marker-name {
  display: block;
}
