@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

:root {
  --red: #910508;
  --black: #222222;
  --blue: #012a86;
}

html,
body {
  margin: 0;
  font-size: 14px;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
p,
span {
  font-family: "Sawarabi Mincho", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-size: 16px;
}

a {
  color: var(--red);
  &:visited {
    color: gray;
  }
}
body,
button {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 16px;
}

button:hover {
  opacity: 0.9;
}

button {
  background-color: var(--red);
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.container {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.map {
  // height: 750px;
  height: 100vh;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  position: relative;
}

.controls {
  display: flex;
  position: absolute;
  right: 0;
  z-index: 5;
}
.btn-map-theme {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.info-box {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border: none;
  max-width: 700px;
  min-width: 300px;
  z-index: 999;
  padding: 1.5rem 2.5rem;
  -webkit-box-shadow: 10px 10px 40px -17px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 40px -17px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 40px -17px rgba(0, 0, 0, 0.6);
  flex-direction: column;
  align-items: center;
}
.info-box .info-close {
  align-self: flex-end;
  background: transparent;
  color: var(--black);
  border-color: transparent;
}

.info-box h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.info-box .info-title {
  margin-top: 10px;
  text-align: center;
}

.mapboxgl-map {
  height: 100%;
}

.city-marker {
  width: 18px;
  height: 18px;
  background-color: var(--red);
  border-radius: 50%;
  transition: ease 0.3s;
  position: relative;
  z-index: 4;
}

.city-marker:hover {
  width: 20px;
  height: 20px;
  transition: ease 0.3s;
  cursor: pointer;
}

.region-marker {
  width: 18px;
  height: 18px;
  background-color: var(--blue);
  transition: ease 0.3s;
  position: relative;
  z-index: 4;
}

.city-marker.selected,
.region-marker.selected {
  background-color: green;
  width: 25px;
  height: 25px;
}

.region-marker:hover {
  width: 25px;
  height: 25px;
  transition: ease 0.3s;
  cursor: pointer;
}

.marker-name {
  position: absolute;
  left: 2em;
  font-size: 14px;
  display: none;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 8px;
  border-radius: 8px;
}

.city-marker:hover .marker-name,
.region-marker:hover .marker-name {
  display: block;
}

.info-links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.link-item {
  display: flex;
  text-align: left;
  svg {
    width: 25px;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 600px) {
  .info-box {
    padding: 1.5rem 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  body,
  button,
  h1,
  h2,
  h3,
  h4 {
    font-size: 13px !important;
  }
  .info-box {
    padding: 1.5rem 1.5rem;
    width: 100vw;
  }
}
