@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

:root {
  --red: #910508;
  --black: #222222;
}

html,
body {
  margin: 0;
  font-size: 14px;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
p,
span {
  font-family: "Sawarabi Mincho", sans-serif;
}
body,
button {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 16px;
}

button:hover {
  opacity: 0.9;
}

button {
  background-color: var(--red);
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  padding: 3rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.map {
  height: 750px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.controls {
  display: flex;
  position: absolute;
  right: 0;
  z-index: 999;
}

.info-box {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border: none;
  min-width: 300px;
  z-index: 999;
  padding: 1.5rem;
  -webkit-box-shadow: 10px 10px 40px -17px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 40px -17px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 40px -17px rgba(0, 0, 0, 0.6);
  flex-direction: column;
  align-items: center;
}
.info-box .info-close {
  align-self: flex-end;
  background: transparent;
  color: var(--black);
  border-color: transparent;
}

.info-box h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.info-box .info-title {
  margin-top: 10px;
}

.mapboxgl-map {
  height: 100%;
}

.city-marker {
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  transition: ease 0.3s;
  position: relative;
  z-index: 4;
}

.city-marker:hover {
  width: 20px;
  height: 20px;
  transition: ease 0.3s;
  cursor: pointer;
}
.region-marker {
  width: 15px;
  height: 15px;
  background-color: var(--red);
  transition: ease 0.3s;
  position: relative;
  z-index: 4;
}

.region-marker:hover {
  width: 25px;
  height: 25px;
  transition: ease 0.3s;
  cursor: pointer;
}

.marker-name {
  position: absolute;
  left: 2em;
  font-size: 14px;
  display: none;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 8px;
  border-radius: 8px;
}

.city-marker:hover .marker-name,
.region-marker:hover .marker-name {
  display: block;
}
